@-webkit-keyframes moveCloud {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  90% {
    opacity: 1; }
  to {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
    opacity: 0; } }
@keyframes moveCloud {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  90% {
    opacity: 1; }
  to {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
    opacity: 0; } }
@-webkit-keyframes moveWind {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  75% {
    opacity: .25; }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; } }
@keyframes moveWind {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  75% {
    opacity: .25; }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; } }
@-webkit-keyframes enterFollowUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes enterFollowUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
html {
  font-family: sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

body {
  margin: 0; }

.animation {
  height: 18rem;
  text-align: center;
  background-color: #00ecffff; }

.sun {
  height: 17rem;
  width: 17rem; }

.cloud {
  position: absolute;
  height: 6rem;
  width: 10rem;
  z-index: 1;
  -webkit-animation: moveCloud 10s linear 0.8s;
          animation: moveCloud 10s linear 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .cloud#cloud1 {
    left: 30%;
    top: 3rem; }
  .cloud#cloud2 {
    left: 70%;
    top: 5rem; }

.wind {
  position: absolute;
  height: 6rem;
  width: 10rem;
  opacity: 0;
  -webkit-animation: moveWind 6s linear;
          animation: moveWind 6s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .wind#wind1 {
    left: 40%;
    top: 3rem; }
  .wind#wind2 {
    left: 80%;
    top: 5rem; }

.opening {
  height: 15rem;
  display: block;
  padding-top: 2rem;
  background-color: #00ecffff;
  text-align: center; }

h1 {
  font-size: 300%;
  font-family: "Galada", cursive;
  font-weight: normal;
  margin: 0; }

h3 {
  font-size: 200%;
  font-family: "Montserrat";
  margin: 0; }

.follow-up {
  height: 4rem;
  background-color: #00ecffff;
  text-align: center; }

.appearing-text {
  opacity: 0;
  -webkit-animation: enterFollowUp 1s linear 10.5s;
          animation: enterFollowUp 1s linear 10.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding: 0 25%; }

.grass-and-trees:hover + .about-panel {
  top: 0; }

#grass-and-trees {
  display: block;
  height: 20rem;
  width: 100%; }

.about-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9rem;
  background-color: #D0D5DB;
  position: absolute;
  top: -12rem;
  -webkit-transition: top 1s;
  transition: top 1s;
  z-index: 2;
  padding: 0 3rem; }

p {
  margin: 0; }

.about-panel-text {
  padding: 3rem !important; }

.skill-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  width: 99%;
  padding: 3rem; }

.skill {
  height: 12rem;
  text-align: center; }

.skill-image {
  height: 8rem;
  width: 8rem; }
  .skill-image#mongo-DB-logo {
    width: 12rem; }

.skill-label {
  margin-top: 1rem; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
  background-image: url("../images/underground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 15rem; }
  .bottom p {
    padding: 3rem 3rem 0; }
  .bottom a {
    color: inherit;
    -webkit-transition: color 1s;
    transition: color 1s;
    -webkit-transition: -webkit-box-shadow 1.5s ease-in 0.25s;
    transition: -webkit-box-shadow 1.5s ease-in 0.25s;
    transition: box-shadow 1.5s ease-in 0.25s;
    transition: box-shadow 1.5s ease-in 0.25s, -webkit-box-shadow 1.5s ease-in 0.25s;
    -webkit-transition: background-color 1s;
    transition: background-color 1s; }
    .bottom a:hover {
      color: blue;
      -webkit-box-shadow: 0 0 20px 20px blue;
              box-shadow: 0 0 20px 20px blue;
      background-color: white; }

@media all and (max-width: 107em) {
  html {
    font-size: 12px !important; }

  .appearing-text {
    font-size: 125%; }

  .about-panel {
    font-size: 125%; }

  .bottom {
    font-size: 125%; } }
@media all and (max-width: 100em) {
  html {
    font-size: 10px !important; }

  .appearing-text {
    font-size: 150%; }

  .about-panel {
    font-size: 150%; }

  .bottom {
    font-size: 150%; } }
@media all and (max-width: 90em) {
  .about-panel {
    height: 10rem;
    top: -13rem; } }
@media all and (max-width: 80em) {
  .about-panel {
    height: 12rem;
    top: -14rem; } }
@media all and (max-width: 75em) {
  html {
    font-size: 8px !important; }

  h1 {
    font-size: 400%; }

  h3 {
    font-size: 250%; }

  .appearing-text {
    font-size: 180%; }

  .about-panel {
    font-size: 180%;
    position: relative;
    min-height: 12rem;
    top: 0;
    -webkit-transition: none !important;
    transition: none !important; }

  .grass-and-trees:hover + .about-panel {
    position: relative; }

  .bottom {
    font-size: 180%; } }
@media all and (max-width: 70em) {
  html {
    font-size: 6px !important; }

  h1 {
    font-size: 400%; }

  h3 {
    font-size: 250%; }

  .appearing-text {
    font-size: 200%; }

  .about-panel {
    font-size: 200%;
    min-height: 12rem; }

  .grass-and-trees:hover + .about-panel {
    position: relative; }

  .bottom {
    font-size: 200%; } }
@media all and (max-width: 60em) {
  html {
    font-size: 5px !important; }

  .wind#wind1 {
    left: 48%; }
  .wind#wind2 {
    left: 88%; }

  h3 {
    font-size: 350%; }

  .follow-up {
    height: 10rem;
    width: 100%;
    text-align: left; }

  .appearing-text {
    position: absolute;
    top: 35rem;
    left: 8rem;
    width: 75%;
    font-size: 225%;
    padding: 0; }

  .about-panel {
    font-size: 225%;
    min-height: 30rem; }

  #grass-and-trees {
    height: 16rem; }
    #grass-and-trees:hover + .about-panel {
      position: relative; }

  .skill-list {
    padding: 0; }

  .bottom {
    min-height: 20rem;
    font-size: 225%; }
    .bottom p {
      padding: 1rem; } }
