@media all and (max-width: 107em) {
  html {
    font-size: 12px !important;
  }
  
  .appearingText {
    font-size: 125%;
  }

  .aboutPanel {
    font-size: 125%;
  }
  
  .bottom {
    font-size: 125%;
  }
}

@media all and (max-width: 100em) {
  html {
    font-size: 10px !important;
  }

  .appearingText {
    font-size: 150%;
  }

  .aboutPanel {
    font-size: 150%;
  }
  
  .bottom {
    font-size: 150%;
  }
}

@media all and (max-width: 90em) {
  .aboutPanel {
    height: 10rem;
    top: -13rem;
  }
}

@media all and (max-width: 80em) {
  .aboutPanel {
    height: 12rem;
    top: -14rem;
  }
}

@media all and (max-width: 75em) {
  html {
    font-size: 8px !important;
  }

  h1 {
    font-size: 400%;
  }

  h3 {
    font-size: 250%;
  }

  .appearingText {
    font-size: 180%;
  }

  .aboutPanel {
    font-size: 180%;
    position: relative;
    min-height: 12rem;
    top: 0;
    transition: none !important;
  }

  .grassAndTrees:hover + .aboutPanel {
    position: relative;
  }
  
  .bottom {
    font-size: 180%;
  }
}

@media all and (max-width: 70em) {
  html {
    font-size: 6px !important;
  }

  h1 {
    font-size: 400%;
  }

  h3 {
    font-size: 250%;
  }

  .appearingText {
    font-size: 200%;
  }

  .aboutPanel {
    font-size: 200%;
    min-height: 12rem;
  }

  .grassAndTrees:hover + .aboutPanel {
    position: relative;
  }
  
  .bottom {
    font-size: 200%;
  }
}

@media all and (max-width: 60em) {
  html {
    font-size: 5px !important;
  }

  h3 {
    font-size: 350%;
  }

  .follow-up {
      height: 8rem;
      width: 100%;
      text-align: left;
  }
  
  .appearingText {
    position: absolute;
    top: 35rem;
    left: 12rem;
    width: 75%;
    font-size: 225%;
    padding: 0;
  }

  .aboutPanel {
    font-size: 225%;
    min-height: 28rem;
  }

  #grassAndTrees {
    height: 18rem;
    &:hover + .aboutPanel {
      position: relative;
    }
  }
  
  .bottom {
    min-height: 18rem;
    font-size: 225%;
  }
}