@media all and (max-width: 107em) {
  html {
    font-size: 12px !important;
  }

  .appearing-text {
    font-size: 125%;
  }

  .about-panel {
    font-size: 125%;
  }

  .bottom {
    font-size: 125%;
  }
}
@media all and (max-width: 100em) {
  html {
    font-size: 10px !important;
  }

  .appearing-text {
    font-size: 150%;
  }

  .about-panel {
    font-size: 150%;
  }

  .bottom {
    font-size: 150%;
  }
}
@media all and (max-width: 90em) {
  .about-panel {
    height: 10rem;
    top: -13rem;
  }
}
@media all and (max-width: 80em) {
  .about-panel {
    height: 12rem;
    top: -14rem;
  }
}
@media all and (max-width: 75em) {
  html {
    font-size: 8px !important;
  }

  h1 {
    font-size: 400%;
  }

  h3 {
    font-size: 250%;
  }

  .appearing-text {
    font-size: 180%;
  }

  .about-panel {
    font-size: 180%;
    position: relative;
    min-height: 12rem;
    top: 0;
    transition: none !important;
  }

  .grass-and-trees:hover + .about-panel {
    position: relative;
  }

  .bottom {
    font-size: 180%;
  }
}
@media all and (max-width: 70em) {
  html {
    font-size: 6px !important;
  }

  h1 {
    font-size: 400%;
  }

  h3 {
    font-size: 250%;
  }

  .appearing-text {
    font-size: 200%;
  }

  .about-panel {
    font-size: 200%;
    min-height: 12rem;
  }

  .grass-and-trees:hover + .about-panel {
    position: relative;
  }

  .bottom {
    font-size: 200%;
  }
}
@media all and (max-width: 60em) {
  html {
    font-size: 5px !important;
  }

  h3 {
    font-size: 350%;
  }

  .follow-up {
    height: 10rem;
    width: 100%;
    text-align: left;
  }

  .appearing-text {
    position: absolute;
    top: 35rem;
    left: 8rem;
    width: 75%;
    font-size: 225%;
    padding: 0;
  }

  .about-panel {
    font-size: 225%;
    min-height: 30rem;
  }

  #grass-and-trees {
    height: 16rem;

    &:hover + .about-panel {
      position: relative;
    }
  }

  .skill-list {
    padding: 0;
  }

  .bottom {
    min-height: 20rem;
    font-size: 225%;

    & p {
      padding: 1rem;
    }
  }
}