@import 'animations';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.animation {
  height: 18rem;
  text-align: center;
  background-color: #00ecffff;
}

.sun {
  height: 17rem;
  width: 17rem;
}

.cloud {
  @include animation-image;
  z-index: 1;
  animation: moveCloud 10s linear 0.8s;
  animation-fill-mode: forwards;

  &#cloud1 {
    left: 20rem;
    top: 3rem;
  }

  &#cloud2 {
    left: 80rem;
    top: 5rem;
  }
}

.wind {
  @include animation-image;
  opacity: 0;
  animation: moveWind 6s linear;
  animation-fill-mode: forwards;

  &#wind1 {
    left: 31rem;
    top: 3rem;
  }

  &#wind2 {
    left: 91rem;
    top: 5rem;
  }
}

.opening {
  height: 15rem;
  display: block;
  padding-top: 2rem;
  background-color: #00ecffff;
  text-align: center;
}

h1 {
  font-size: 300%;
  font-family: "Galada", cursive;
  font-weight: normal;
}

h3 {
  font-size: 200%;
  font-family: "Montserrat";
}

.follow-up {
  height: 4rem;
  background-color: #00ecffff;
  text-align: center;
}

.appearingText {
  opacity: 0;
  animation: enterFollowUp 1s linear 10.5s;
  animation-fill-mode: forwards;
}

.grassAndTrees:hover + .aboutPanel {
  top: 0;
}

#grassAndTrees {
  display: block;
  height: 20rem;
  width: 100%;
}

.aboutPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  background-color: #D0D5DB;
  position: absolute;
  top: -9rem;
  transition: top 1s;
  z-index: 2;
  padding: 0 3rem;
}

.skillList {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  padding: 3rem;
}

.skill {
  height: 12rem;
  text-align: center;
}

.skillImage {
  height: 8rem;
  width: 8rem;
}

.skillLabel {
  margin-top: 1rem;
}

#mongoDbLogo {
  width: 12rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
  background-image: url("../images/underground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 15rem;

  & p {
    padding: 0 3rem;
  }

  & a {
    color: inherit;
    transition: color 1s;
    transition: box-shadow 1.5s ease-in 0.25s;
    transition: background-color 1s;

    &:hover {
      color: blue;
      box-shadow: 0 0 20px 20px blue;
      background-color: white;
    }
  }
}
@import 'breakpoints';